<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <ol>
    <% @products.each do |product| %>
      <li><%= render product %></li>
      <p>
        <%= link_to "[View #{product.name}]", product %>
      </p>

    <% end %>
  </ol>
</div>

<footer>
  <b><%= link_to "Add New Product", new_product_path %></b>
</footer>
